<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <div id="root">
        <h1>Skills:</h1>
        <ul>
            <li v-for="(skill, i) in skills">
                <p>
                    {{ skill }}  <button @click="removeSkill(i)">X</button>
                </p>
            </li>
        </ul>
        <input type="text" v-model="newSkill">
        <button @click="addNewSkill()">Add</button>
    </div>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"> </script>
        <script type="text/javascript">
            var app = new Vue({
               el: "#root",
               data: {
                    newSkill: "",
                    skills: ["HTML","CSS", "JS"]
               },
               methods: {
                addNewSkill: function(){
                    this.skills.push(this.newSkill);
                    this.newSkill = '';
                   },
                removeSkill: function(i){
                    this.skills.splice(i, 1);
                   }
               }   
            });
        </script>
</body>
</html>